{% extends "blog/base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <div clas="row">
    <div class="col-md-6">
  <h3>{{ post.title }}</h3>
  <p class="date">
    Published {{ post.publish }} by {{ post.author }}
  </p>
  {{ post.body|linebreaks }}


  <a href="{% url "blog:post_share" post.id %}">
    Share this post
  </a>
        <h4><u>Similar posts</u></h4>
{% for post in similar_posts %}
  <p>
    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
  </p>
{% empty %}
  There are no similar posts yet.
{% endfor %}

    {% with comments.count as total_comments %}
  <h4><u>
    {{ total_comments }} comment{{ total_comments|pluralize }}
  </u></h4>
{% endwith %}

    {% for comment in comments %}
  <div class="comment">
    <p class="info">
      Comment {{ forloop.counter }} by {{ comment.name }}
      {{ comment.created }}
    </p>
    {{ comment.body|linebreaks }}
  </div>
{% empty %}
  <p>There are no comments yet.</p>
{% endfor %}
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-6">
    {% if new_comment %}
  <h2>Your comment has been added.</h2>
{% else %}
        <h4><u>Add a new comment</u></h4>
  <form action="." method="post">
    {{ comment_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Add comment"></p>
  </form>
{% endif %}
    </div>
    </div>

{% endblock %}
